<div class="page-width">
  <div class="empty-page-content text-center">
    <img class="" src="https://cdn.shopify.com/s/files/1/0077/8436/6138/files/404_2x_1b4fb629-854c-430f-b9f4-a4e9a5886705.png?13473729339553327508" alt="404"/>
    <h1>Page Not Found</h1>
    <p>{{ 'general.404.subtext' | t }}</p>
    <p>
      <a href="/" class="btn btn--has-icon-after">{{ 'general.404.link' | t }}{% include 'icon-arrow-right' %}</a>
    </p>
  </div>
</div>
